@media screen and (max-width: 1400px) {
    #profile{
        height: 90vh;
        margin-bottom: 2rem;

    }
    #contact{
      height: 100vh;
      /* TO check maybe have to change this size because is too much spacing */
      margin-top: 5rem;


    }
    .about-containers{
        flex-wrap: wrap ;
    }
}



@media screen and (max-width: 1200px) {
    #desktop-nav   {
        display: none;
    }
    #hamburger-nav {
        display: flex;
     

    }
    #about {
        height: auto; /* Set height to auto to allow content to expand vertically */
        padding-top: 6rem; /* Reduce top padding to create more space */
        margin-bottom: 2rem; /* Adjust margin for spacing */
        text-align: left;
    }

    #about .section-container {
       
        flex-direction: column; /* Change the flex direction to stack elements vertically */
        align-items: center; /* Center the items horizontally */
    }
  .section__text {
        margin-top: 5rem; /* Add margin to the top of the section text */
    }

    #about .section__pic-container {
        margin-top: 3rem; /* Add margin to the top of the image container */
    }

    #profile{
        padding-top: 10rem;
    }
    #experience {
        height: auto; /* Set height to auto to allow content to expand vertically */
        padding-top: 5rem; /* Reduce top padding to create more space */
        margin-bottom: 2rem; /* Adjust margin for spacing */
    }
    #experience .title {
        margin-bottom: 2rem; /* Add margin to the bottom of the title */
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
      
    }
    #profile, 
    .section-container{
        display: block;
    }

    #contact{
        height: auto;
        margin-top: 70rem;
        margin-bottom: 7rem;
  
    }
    .final__arrow
    {
        display: none ;
        

    }
    .arrow{
        display:none;
    }
    .section, 
    .section-container {
        height: fit-content;
    }
    section{
        margin: 0 5%
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
        /* height: 100vh; */

    }
    /* #contat{
        padding: 20px;

    } */
    

  footer {
        position: relative;
        /* possible de faire absolute, regarder encode avec le extra infos */
        bottom: 0;
        width: 100%; /* Ensure the footer spans the full width of the viewport */
        z-index: 1000; /* Set a higher z-index for the footer */
    }
}

@media screen and (max-width: 600px) {
    #contat, 
    footer {
        /* position: relative; */
        height: 20vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem ;
    }
    .about-containers,
    .contact-info-upper-container, 
    .btn-container {
       flex-wrap: wrap; 
       /* text-align: left;  a voir si ceci mets bien le texte a gauche quand screen 600 */ 

    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem;
    }
    
    .experience-sub-title {
        font-size: 1.25 rem;

    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        /* position: relative; */
        /* padding-top: 10rem; */
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2{
        font-size: 1.25rem;
        
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
   
}


/* ce Media adapte la navigation pour pas voir deux fois le menu*/
 /* Masquer le menu de bureau (à rajouter maybe apres

@media screen and (max-width: 768px) {
   
    #desktop-nav {
        display: none;
    }
#hamburger-nav {
    display:flex ;
} 
}
*/